* {
  box-sizing: border-box;
}

:root {
  --bg-primary-color: white;
  --bg-secondary-color: rgb(250, 250, 250);
  --bg-cta-color: rgb(2, 156, 2);
  --text-light: white;
  --text-dark: #333;
  --text-extra-dark: black;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-primary-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.main-header {
  background-color: var(--text-dark);
  color: var(--text-light);
}

h1 {
  font-size: larger;
}

header {
  height: 4em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  flex-direction: column;
  justify-content: space-evenly;
  min-height: calc(100vh - 4em);
}

.container {
  margin: 0 auto;
  width: 85%;
}
.card-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: .5em;
  place-items: center;
  margin-bottom: 2em;
}
article,
.laptop-display-section {
  background-color: var(--bg-secondary-color);
  color: var(--text-dark);
}
article {
  height: 260px;
  width: 240px;
  border-radius: 10px;
}
.laptop-display-section {
  width: 100%;
  height: fit-content;
  justify-content: center;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button,
input,
select {
  padding: 0.5em 1.6em;
  margin: 0.5em;
  border-radius: 15px;
  border: 1px solid var(--bg-cta-color);
  outline: none;
  background-color: var(--text-light);
  color: var(--bg-cta-color);
}
input {
  text-align: right;
  vertical-align: middle;
  height: 1.5em;
  width: 4em;
  height: fit-content;
  margin: 0.5em;
  padding: 0;
  border: none;
  background-color: inherit;
}

.modal-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15em;
  width: 15em;
  background-color: var(--text-dark);
  color: var(--text-light);
  z-index: 1;
}
.show {
  display: block;
}

.hide {
  display: none;
}

.modal-loan-input {
  padding: 0.5em 1.6em;
  width: 8em;
  margin: 0.5em;
  border-radius: 2px;
  border: 1px solid var(--text-dark);
  outline: none;
  background-color: var(--text-light);
  color: var(--bg-cta-color);
}

button {
  transition: 0.2s ease-in-out;
}
select {
  width: 100%;
  text-align: left;
}

select:hover {
  cursor: pointer;
  opacity: 0.8;
}

.loan-btn {
  width: 13em;
}
.cta-btn {
  border: none;
  background-color: var(--bg-cta-color);
  color: var(--text-light);
  width: 10em;
}
.cta-btn:hover {
  background-color: var(--text-light);
  color: var(--bg-cta-color);
  border: 1px solid var(--bg-cta-color);
  opacity: 1;
}
button:hover {
  background-color: var(--bg-cta-color);
  opacity: 0.8;
  color: var(--text-light);
  cursor: pointer;
}
button:active {
  transform: scale(0.96);
  transform-style: preserve-3d;
}

h4 {
  margin: 1em auto;
}
.specs {
  list-style-type: none;
  padding-left: 0.5em;
  margin: 0 auto;
}
.computer-image {
  width: 80%;
  margin: auto;
}
.h1-big {
  font-size: x-large;
}
.img-container,
.laptop-description-container,
.price-cta-container {
  flex-direction: column;
  justify-content: center;
  width: 10em;
  height: 7em;
}
.laptop-description-container {
  width: 14em;
}
.price {
  margin: 0 auto 0.5em;
}
.description {
  margin: 0;
}
